.main {
  min-height: 90vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 500px;
  margin: auto;
  align-items: center;
  font-family: "Helvetica", Helvetica, sans-serif, monospace;
  document.body.style.backgroundImage = "url(./public/bckgrd.png)";
}

.footer {
  display: flex;
  padding: 2rem 0;
  border-top: 1px solid #ff0000;
  justify-content: center;
  align-items: center;
}

.image {
  width: 120%;
  height: 100%;
  margin-left: 20%;
}

.title {
  font-size: 2rem;
  margin: 2rem 0;
  color: #ff0000;
}

.description {
  line-height: 1;
  justify-content: center;
  margin: 2rem 0;
  font-size: 1.2rem;
}

.button {
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  border: none;
  color: #ff0000;
  font-size: 15px;
  padding: 20px;
  width: 200px;
  cursor: crosshair;
  margin-bottom: 2%;
}
@media (max-width: 1000px) {
  .main {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
